<div class="d-flex" [ngClass]="{'toggled':hideSideNav}" id="wrapper">

  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Start Bootstrap</div>
    <div class="list-group list-group-flush">
      <a href="#"
         class="list-group-item list-group-item-action bg-light"
         [routerLink]="['dashboard']"
         i18n="Dashboard link | side menu tab">Dashboard
      </a>
      <a href="#"
         class="list-group-item list-group-item-action bg-light"
         [routerLink]="['client-management']"
         [state]="{new: true}"
         i18n="Client management link | side menu tab">Client Management
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
    </div>
  </div>

  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary"
              id="menu-toggle"
              (click)="toggleSideNav()">Toggle Menu
      </button>
    </nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
